body {
	color: blue;
}

@font-face {
  font-family: 'Proxima Nova Soft';
  src: url('../fonts/ProximaNovaSoft-Bold.otf') format('otf'), 
       url('../fonts/ProximaNovaSoft-Medium.otf') format('otf'),
       url('../fonts/ProximaNovaSoft-Regular.otf') format('otf'),
       url('../fonts/ProximaNovaSoft-SemiBold.otf') format('otf'); 
}

li span {
	float: right;
}

li:hover, #right {
	background-color: #F7F0FC;
	opacity: 100%;
}

h3 {
	font-size: 32px;
	font:'Proxima Nova Soft', ProximaNovaSoft-SemiBold, sans-serif;
}

h4 {
	font-size: 24px;
	font:'Proxima Nova Soft', ProximaNovaSoft-SemiBold, sans-serif;
}

h5 {
    font-size: 18px;
	font:'Proxima Nova Soft', ProximaNovaSoft-Regular, sans-serif;
}

i {
	cursor: pointer
}

#landing.heromain {
	text-align: center;
	margin-right: 40%;
	margin-left: 32%;
}
#balance, #figures,#sp, .circlediv {
	padding-left: 70px;
}

#landing {
	text-align: center;
	margin-right: 42%;
	margin-left: 31%;
	color: #FFFFFF;
}

#right {
	opacity: 50%;
}


#leftup {
	font-size: 16px;
	color: #959595;
	font: 'Proxima Nova Soft', ProximaNovaSoft-SemiBold, sans-serif;
}

#leftdown {
	font-size: 14px;
	color: #959595;
	opacity: 60%;
	font: 'Proxima Nova Soft', ProximaNovaSoft-Medium, sans-serif;
}

#rightdown {
	font-size: 14px;
	color: #959595;
	font: 'Proxima Nova Soft', ProximaNovaSoft-Medium, sans-serif;
}

#sidebar {
	max-width: 294px;
	min-width: 294px;
	min-height: 100vh;
	transition: all 0.3s;
}

#sidebar.display {
    margin-left: -294px;
}

.criclediv {
  text-align: center;
  background: #ddd;
}

.circle {
  height: 10px;
  width: 10px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
}

.wrapper {
	display: flex;
	align-items: stretch;
    width: 100%;
}

.sidebar-header {
	background-image: url("../images/menu-header-bg.png");
	height: 153px;
}

.right {
	font-size: 16px;
	font: 'Proxima Nova Soft', ProximaNovaSoft-SemiBold, sans-serif;
}

.green {
	color: #16967A;
}

.red {
	color: #E44235;
}

.dashboardmenu {
	font-size: 16px;
	color: #8D52BA;
	padding-left: 20px;
	padding-top: 12.5px;
	padding-bottom: 12.5px;
	margin-bottom: 0;
	background-repeat: no-repeat;
}

.slide {
    height: 32%;
    background-color: #9966FF;
}

.base {
	height: 42px;
    background-color: #9900CC;
    padding-top: 10px;
    padding-left: 18px;
    font-family: 'Proxima Nova Soft', ProximaNovaSoft-Medium, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}

.hero {
	padding-left: 20px;
    display: flex;
}

.navbar {
	background-color: #9900CC;
}

.profile {
	font-size: 18px;
	font: 'Proxima Nova Soft', ProximaNovaSoft-Regular, sans-serif;
	color: #FFFFFF;
	padding-left: 8px;
	margin-top: 90px;
}

.navbar-nav {
	margin-right: 48%;
	margin-left: 25%;
}
.nav-item {
	color: #FFFFFF;
	font-size: 20px;
	font: 'Proxima Nova Soft', ProximaNovaSoft-Regular, sans-serif;
} 
.material-icons {
	color: #FFFFFF;
}

.nav-item:hover {
	background-color: #9900CC;
}
.avatar {
	margin-top: 80px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.skip:hover {
	background-color: #FFFFFF;
}

.activitylog {
	background-color: #F1F1F1;
}

.activitylog, .skip {
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 8.5px;
	padding-bottom: 8.5px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -294px;
    }
    #sidebar.display {
        margin-left: 0;
    }

    #landing {
	    text-align: center;
	    margin-right: 25%;
	    margin-left: 0%;
   }

   .navbar-nav {
	margin-left: 33%;
}
}